<div style="padding: 20px; border: 2px solid #5f3dc4; border-radius: 8px; margin: 20px;">
  <h1 style="color: #5f3dc4;">Angular 19 Zoneless Success!</h1>

  @if (data()) {
  <p><strong>Database Record Found:</strong></p>
  <!-- <pre style="background: #f4f4f4; padding: 15px;">{{ data() | json }}</pre> -->

  <ul>
    @for (task of data(); track task._id) {
    <li>
      <div style="display: flex; justify-content: space-between; width: 50%;">
        <div (click)="test(task)">
          {{ task.title }} - <strong>{{ task.status }}</strong>
        </div>
        <button (click)="deleteTask(task._id)">delete</button>
      </div>
    </li>
    } @empty {
    <li>No tasks yet. Add one above!</li>
    }
  </ul>


  } @else {
  <p>⏳ Loading data from MongoDB...</p>
  }
</div>




<div style="padding: 20px; font-family: sans-serif;">
  <h2>Wealth-Sync Task Manager</h2>

  <div style="margin-bottom: 20px;">
    <input [(ngModel)]="newTaskTitle" placeholder="Enter task name..." style="padding: 8px; width: 250px;">
    <button (click)='saveTask()' style="padding: 8px 15px; cursor: pointer;" [disabled]="disableAddButton">Add
      Task</button>
    <button (click)='updateTask()' style="padding: 8px 15px; cursor: pointer;" [disabled]="disableUpdateButton">Update
      Task</button>
    <button (click)='cancelUpdateTask()' style="padding: 8px 15px; cursor: pointer;"
      [disabled]="disableUpdateButton">Cancel Update </button>

  </div>
 
</div>